/* GRID TỔNG */
.parent {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* trái – giữa – phải */
  grid-template-rows: auto auto 1fr auto;
  gap: 8px;
}

/* Header */
.div1 {
  grid-column: 1 / 4; /* spanning 3 columns */
}

/* Menu */
.div2 {
  grid-column: 1 / 4;
}

/* Cột trái */
.div3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-size: 15px;
}

.div3 img {
  width: 140px;
  height: 113px;
}

/* Nội dung chính (ở giữa) */
.div4 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 20px;
}

/* Cột phải */
.div5 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/* Footer */
.div6 {
  grid-column: 1 / 4;
}

/* MENU CHÍNH */
.main {
  background: blue;
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 12px 24px;
  color: white;
  white-space: nowrap;
  font-size: 21px;
}

.d {
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
}

/* Hover menu */
.d:hover {
  background-color: darkred;
}

/* Dropdown */
.d ul {
  list-style: none;
  position: absolute;
  background: white;
  display: none;
  top: 100%;
  left: 0;
  padding: 10px;
  min-width: 160px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.d:hover ul {
  display: block;
}

.d ul li {
  padding: 6px 0;
  color: black;
}

.d ul li:hover {
  background-color: rgb(239, 106, 106);
}

.gocnhin {
  background-color: blue;
  color: white;
  font-size: 12px;
}

.hh {
  font-weight: normal;
}

.indam {
  font-weight: bold;
  font-size: 20px;
}
